.deposit_page {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 115, 230, 0.3);
}

.left_box {
    width: 600px;
    height: 77px;
    background-color: rgba(0, 115, 230, 0.3);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
}

.deposit_top_box {
    background-color: rgba(0, 115, 230, 0.25);
    width: 1312px;
    height: 102px;
    border-radius: 10px;
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: row;
    align-items: column;

}

.top_text {
    padding: 10px;
    padding-left: 35px;
    font-size: 20px;
    width: 50%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(0, 0, 0);
}

.left {
    background-color: rgb(24, 98, 159);
    border-radius: 0px 20px 20px 0px;
}

.usage_explanation {
    color: black;
    font-size: 25px;
    padding: 25%;

}

.usage_position {
    position: absolute;
    top: 180px;
    left: -120px;
}

.deposit_values {
    white-space: nowrap;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smaller {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    position: absolute;
    top: -160px;
    left: -600px;
    color: #020e18;
    background-color: rgb(79, 202, 243);
    padding: 60px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgba(0, 217, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    position:absolute;
    top: 30px;
    left: -470px;
}

.button2_1 {
    position:absolute;
    top: 30px;
    left: -380px;
}

.box5 {
    position: absolute;
    top: -160px;
    left: -200px;
    color: #020e18;
    background-color: rgb(79, 202, 243);
    padding: 60px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgba(0, 217, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button5 {
    position:absolute;
    top: 30px;
    left: -70px;
}

.button5_1 {
    position:absolute;
    top: 30px;
    left: 20px;
}

.box10 {
    position: absolute;
    top: -160px;
    left: 200px;
    color: #020e18;
    background-color: rgb(79, 202, 243);
    padding: 60px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgba(0, 217, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button10 {
    position:absolute;
    top: 30px;
    left: 330px;
}

.button10_1 {
    position:absolute;
    top: 30px;
    left: 420px;
}

.box20 {
    position: absolute;
    top: -160px;
    left: 600px;
    color: #020e18;
    background-color: rgb(79, 202, 243);
    padding: 60px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgba(0, 217, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button20 {
    position:absolute;
    top: 30px;
    left: 730px;
}

.button20_1 {
    position:absolute;
    top: 30px;
    left: 820px;
}


.box50 {
    position: absolute;
    top: 170px;
    left: -600px;
    color: #020e18;
    background-color: rgb(79, 202, 243);
    padding: 60px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgba(0, 217, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button50 {
    position:absolute;
    top: 360px;
    left: -470px;
}

.button50_1 {
    position:absolute;
    top: 360px;
    left: -380px;
}

.box100 {
    position: absolute;
    top: 170px;
    left: -200px;
    color: #020e18;
    background-color: rgb(79, 202, 243);
    padding: 60px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgba(0, 217, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button100 {
    position:absolute;
    top: 360px;
    left: -70px;
}

.button100_1 {
    position:absolute;
    top: 360px;
    left: 20px;
}


.box200 {
    position: absolute;
    top: 170px;
    left: 200px;
    color: #020e18;
    background-color: rgb(79, 202, 243);
    padding: 60px;
    width: 280px;
    border-radius: 20px;
    box-shadow: 8px 8px 0px rgba(0, 217, 255, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button200 {
    position:absolute;
    top: 360px;
    left: 330px;
}

.button200_1 {
    position:absolute;
    top: 360px;
    left: 420px;
}