.transacao {
    background-color: rgba(0, 115, 230, 0.3);
    height: 24vh;
    width: 88vw;
    color: black;
    margin: 4vh;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tipo {
    height: 7vh;
    width: 86vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;
    border-radius: 10px;
    color: black;
    font-size: 5vh;
    
}

.transacao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

.transacao3 {
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    align-items: center;
    color: rgba(0, 115, 230, 1);
}

.transacao4 {
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    align-items: center;
    color: rgba(0, 115, 230, 1);
}

.transacao5 {
    display: flex;
    flex-direction: column;
    font-size: 4vh;
    align-items: center;
    color: rgba(0, 115, 230, 1);
}